<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">

      <div class="col-4">
        <div class="row d-flex justify-content-center">
          <div class="">

            <div class="card" id="chat1" style="border-radius: 15px;">
              <div
                class="card-header d-flex justify-content-between align-items-center p-3 bg-black text-white border-bottom-0"
                style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                <i class="fas fa-angle-left"></i>
                <p class="mb-0 fw-bold">Bienvenido al chat</p>
                <i class="fas fa-times"></i>
              </div>

              <div class="card-body back scroll pb-5" style="height: 70vh; overflow-y: scroll;" id="body">

                <div id="nodo">
                  <div id="child"></div>
                </div>

              </div>

              <div class="form-outline p-3 bg-black"
                style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                <input id="inputChat" class="form-control" id="textAreaExample" rows="4"></input>
                <label class="form-label" for="textAreaExample">Ingresá tu mensage</label>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="jumbotron px-5">
          <h1 class="display-4">Hola, Bienvenido</h1>
          <p class="lead">Este es un simple chat con el que podes divertirte un buen rato, espero lo difrutes</p>
          <hr class="my-4">
          <p class="lead">
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/chat.js"></script>