<div class="container">
   <section class="vh-100">
      <div class="container py-5 h-100">
         <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5">
               <h1 class="py-2">Bienvenido</h1>
               <form id="formLogin">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                     <input type="email" name="email" class="form-control form-control-lg" placeholder="email" />
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                     <input type="password" name="password" class="form-control form-control-lg"
                        placeholder="Contraseña" />
                  </div>

                  <div class="d-flex justify-content-around align-items-center mb-4">
                     <!-- Checkbox -->
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="admin" id="form1Example3" checked />
                        <label class="form-check-label" for="remember"> Recordarme </label>
                     </div>
                     <a href="/resetPassword">Olvido su contraseña?</a>
                  </div>

                  <!-- Submit button -->
                  <div class="row px-3">
                     <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar sesión</button>
                     <a class="btn btn-dark btn-lg btn-block mt-3" href="/api/session/github"
                        role="button">
                        <i class="fab fa-github me-2"></i>Continuar con GitHub
                     </a>

                     <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">O</p>
                     </div>

                     <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/register"
                        role="button">
                        Registrarme
                     </a>
                  </div>

                  {{!-- Posible login desde las redes --}}
                  {{!-- <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                     role="button">
                     <i class="fab fa-twitter me-2"></i>Continue with Twitter</a> --}}
               </form>
            </div>
         </div>
      </div>
   </section>
</div>

<script src="/assets/js/login.js"></script>