<div class="container">
   <section class="vh-100">
      <div class="container py-5 h-100">
         <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5">
               <h3 class="py-2">Reistro de usuario</h3>
               <form id="formRegister">
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                     <input type="text" name="first_name" class="form-control form-control-lg" placeholder="Nombre" />
                  </div>

                  <!-- Last Name input -->
                  <div class="form-outline mb-4">
                     <input type="text" name="last_name" class="form-control form-control-lg" placeholder="Apellido" />
                  </div>

                  <!-- email input -->
                  <div class="form-outline mb-4">
                     <input type="email" name="email" class="form-control form-control-lg" placeholder="email" />
                  </div>

                  <!-- ege input -->
                  <div class="form-outline mb-4">
                     <input type="number" name="age" class="form-control form-control-lg" placeholder="Edad" />
                  </div>

                  <div class="form-outline mb-4">
                     <input type="password" name="password" class="form-control form-control-lg"
                        placeholder="Contraseña" />
                  </div>

                  <div class="mb-3 form-check">
                     <input class="form-check-input" type="checkbox" value="admin" name="admin" />
                     <label class="form-check-label" for="admin"> Administrador * solo con fin educativo - debería estar en una admin de roles *</label>
                  </div>

                  <!-- Submit button -->
                  <div class="row px-3">
                     <button type="submit" class="btn btn-primary btn-lg btn-block">Registrarme</button>
                  </div>
               </form>
               <p class="text-center py-3">¿Ya tienes una cuenta? <a href="/">Ingresa aquí</a></p>
            </div>
         </div>
      </div>
   </section>
</div>

<script src="/assets/js/register.js"></script>