<div class="container">
   <section class="vh-100">
      <div class="container py-5 h-100">
         <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5">
               <h1 class="py-2">Reistro de usuario</h1>
               <form id="registerForm">
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                     <input type="text" id="name" class="form-control form-control-lg"
                        placeholder="Nombre" />
                  </div>

                  <!-- Last Name input -->
                  <div class="form-outline mb-4">
                     <input type="text" id="lastName" class="form-control form-control-lg"
                        placeholder="Apellido" />
                  </div>

                  <!-- email input -->
                  <div class="form-outline mb-4">
                     <input type="email" id="email" class="form-control form-control-lg"
                        placeholder="email" />
                  </div>

                  <!-- ege input -->
                  <div class="form-outline mb-4">
                     <input type="number" id="lastName" class="form-control form-control-lg"
                        placeholder="Edad" />
                  </div>

                  <!-- Submit button -->
                  <div class="row px-3">
                     <button type="submit" class="btn btn-primary btn-lg btn-block">Registrarme</button>
                  </div>
               </form>
               <p class="text-center py-3">¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
            </div>
         </div>
      </div>
   </section>
</div>